# Task 1 - Exploratory Data Analysis (EDA)
- This notebook aims to present the findings of my analysis, and also a detailed walkthrough of the steps taken to derive the results.

test new code here

# Data Pre-processing
## 1. Process database ('.db') files

### 1(a) Use `sqlite3` library to read database ('.db') files

In [17]:
import sqlite3
import pandas as pd

#### Define a 'create database connection' function

In [6]:
# Define a function that returns database connection object

def get_db_connection(url):
    conn = sqlite3.connect(url)        # points database connection object to conn
    conn.row_factory = sqlite3.Row     # set return rows as dictionaries instead of tuples
    return conn

#### Read **cruise_pre.db** and **cruise_post.db** into Python
- Dataset are read into a list of dictionaries, with each dictionary representing an individual row of data

- This is an intermediary step before converting to DataFrame

In [7]:
# Read cruise_pre.db and cruise_post.db into list of dictionaries

# Define required variables
table_name = ['cruise_pre','cruise_post']
cruise_pre_data = []
cruise_post_data = []

# Iterate through the 2 provided data sets: cruise_pre.db and cruise_post.db
for table in table_name:

    # Create connection to database
    conn = get_db_connection('data/'+ table + '.db')
    # Execute query to fetch all rows and columns
    data = conn.execute('SELECT * FROM {}'.format(table)).fetchall()

    # Append row to respective variable container
    if table == 'cruise_pre':
        for i in data:
            cruise_pre_data.append(dict(i))
    else:
        for i in data:
            cruise_post_data.append(dict(i))

# close database connection
conn.close()

# Output: cruise_pre_data and cruise_post_data now contains list of dictionaries

#### Convert list of dict to Pandas DataFrame
- Convert to Pandas DataFrame objects as it unlocks a wide variety of simple and clean data analytics libraries

In [8]:
# Read list of dictionaries into Pandas Dataframe
# Set 'index' column as index
cruise_post_df = pd.DataFrame(data=cruise_post_data).set_index('index')
cruise_pre_df = pd.DataFrame(data=cruise_pre_data).set_index('index')

## 2. Data Cleaning
### 2(a) Evaluating the initial datasets

#### Dataset 1: Pre-cruise Customer Survey
Description
- This is a pre-purchase survey conducted to give ShipSail insights into what ameneties/services their customers prefer, or what is considered important to them for an enjoyable cruise journey.

Observation 1: **inconsistent scale across amenities**

- For example, `Onboard Wifi Service` has a categorical scale while `Ease of Online booking` has a numerical scale
- Implications: 
    1. inconsistent format makes data plotting across these variables difficult
    2. machine learning algorithms require numeric input variables
- Data cleaning process:
    1. convert all categorical scale into corresponding numerical scale of 1.0 to 5.0

Observation 2: **missing values, or NaN fields**

- For example, `guest 133745` has 'NaN' for `Port Check-in Service`
- Implications:
    1. Similar to Observation 1
- Data cleaning process:
    1. removing rows with 'NaN' field is **not** ideal as many rows contains at least one 'NaN' field
    2. propose to convert 'NaN' into 0 for all rows

In [18]:
# Display part of cruise pre dataset
cruise_pre_df.tail(3)

,Gender,Date of Birth,Source of Traffic,Onboard Wifi Service,Embarkation/Disembarkation time convenient,Ease of Online booking,Gate location,Logging,Onboard Dining Service,Online Check-in,Cabin Comfort,Onboard Entertainment,Cabin service,Baggage handling,Port Check-in Service,Onboard Service,Cleanliness,Ext_Intcode
index,,,,,,,,,,,,,,,,,,
133743,Male,23/10/2012,Direct - Email Marketing,Extremely important,5.0,5.0,5.0,31/08/2023 23:41,Extremely important,5.0,5.0,Extremely important,4.0,5.0,4.0,4.0,5.0,BL343MAXXIT
133744,Female,None,Indirect - Search Engine,A little important,1.0,1.0,4.0,31/08/2023 23:43,None,2.0,4.0,Very important,5.0,4.0,3.0,5.0,4.0,LB957GHIRBD
133745,Male,07/09/1996,Direct - Company Website,None,NaN,0.0,1.0,31/08/2023 23:44,None,0.0,2.0,Extremely important,2.0,1.0,NaN,1.0,5.0,LB539JAJHXJ

#### Dataset 2: Post-cruise Customer Data
Description
- This is a post-trip data collected by ShipSail to provide insights into the services or products that customers chosen in reality.

Observation 1: 

- For example,
- Implications: 

- Data cleaning process:

Observation 2: 

- For example,
- Implications:

- Data cleaning process:

In [19]:
# Display part of cruise post dataset
cruise_post_df.tail(30)

,Cruise Name,Ticket Type,Cruise Distance,Ext_Intcode,WiFi,Dining,Entertainment
index,,,,,,,
133716,Blastoise,Deluxe,216 KM,BL769ITOAEH,NaN,0,1.0
133717,None,Luxury,373 KM,BL729CQIIEO,1.0,1,0.0
133718,Blastoise,Standard,None,LB594GHOJHU,NaN,1,NaN
133719,Blastoise,Luxury,311 Miles,BL958YMUVXA,0.0,0,0.0
133720,Blastoise,Luxury,744 KM,BL531GFDURF,1.0,1,0.0
133721,Blastoise,None,1024 KM,BL588GYNLHG,NaN,0,NaN
133722,Blastoise,Luxury,1390 KM,LB596GACGII,0.0,1,1.0
133723,blast,Deluxe,399 Miles,LB544OGBJQM,NaN,0,1.0
133724,Blastoise,Luxury,2179 KM,BL180VCFFXJ,0.0,0,0.0
133725,None,Luxury,3800 KM,BL163ITEIJL,1.0,0,0.0
133726,Lapras,Standard,302 KM,BL847NMMWRT,NaN,1,NaN
133727,IAPRAS,Standard,1173 KM,LB697WTAQRB,NaN,0,NaN
133728,blast0ise,Luxury,1675 KM,LB373GBWHWK,1.0,1,1.0
133729,Blastoise,Standard,1176 Miles,LB416RSDVKQ,NaN,1,NaN
133730,Blastoise,Luxury,1299 KM,BL647TAYOPA,1.0,1,1.0
133731,Lapras,Deluxe,936 KM,BL767MCLTEW,NaN,0,0.0
133732,Blastoise,Luxury,3319 KM,BL396JULBUX,1.0,0,0.0
133733,Lapras,Deluxe,936 KM,BL767MCLTEW,NaN,0,0.0
133734,None,Luxury,1900 KM,LB245RUPPSR,1.0,1,1.0
133735,Lapras,None,None,LB948MQKWLZ,NaN,1,NaN
133736,Lapras,None,399 KM,BL134VLZCSK,NaN,0,NaN
133737,Blastoise,Luxury,954 KM,LB147HGFXMK,0.0,0,0.0
133738,None,None,2475 KM,LB441ARMTRU,1.0,0,1.0
133739,blast0ise,Standard,2717 KM,LB569ACEIRB,NaN,0,NaN
133740,None,Standard,None,BL862YWCXGQ,NaN,1,NaN
133741,Blastoise,Standard,1506 KM,LB957GHIRBD,NaN,1,NaN
133742,Blastoise,None,240 KM,BL409CVKQKQ,1.0,0,1.0
133743,Blastoise,Luxury,-1947 KM,BL343MAXXIT,1.0,0,1.0
133744,Blastoise,Standard,1506 KM,LB957GHIRBD,NaN,1,NaN
133745,Lapras,Standard,80 KM,LB539JAJHXJ,NaN,0,NaN